* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 40px;
    }

    .home {
      background-color:rgb(192, 192, 192);
      padding: 0.5em;
      text-align: center;
      color: #F5F1F1;
      border-radius: 3px;
      font-size: 15px;
    }
  
    .header-img {
      background-image: url(./img/IMG_0853-mountain2.png);
      width: 100%;
      display: block;
      position: relative;
      background-size: cover;
      background-position: top;
      padding: 5em;
      height: 25vh;
      margin-top: 5vh;
    }
  
    /* buttons Portfolio */

  .boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    }
  
  .boxes > * {
    padding: 0.9em;
    height: 90px;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    color: #F5F1F1;
    background-color: rgb(192, 192, 192);
    border-radius: 3px;
  }

  .photo:hover {
    background-color: rgba(57, 79, 86, 1);
  }
  
  .sketch:hover{
    background: rgba(191, 209, 214);
  }

  .model{
    background: rgba(189, 167, 153);
    border-radius: 50px;
  }


  .CSS:hover {
    background: rgba(65, 60, 54);
  }

.donut{
  background-image:  url(./img/donut.png);
  background-size: cover;
  background-position: center;
  height: 60vh;
  margin: 40px;
}


.buttom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: rgba(76, 81, 92, 1);
  height: 70px;
}

.buttom > * {
  padding: 0px;
  font-weight: 300;
  font-size: 15px;
  color: #F5F1F1;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
}

.hb {
text-align: left;
padding-left: 15px;
}

.molln {
grid-column: 2 / 4;
text-align: center;
}
  
.mtd {
text-align: right;
padding-right: 15px;
}

  
/* hover */

a:link {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  border-radius:50px;
  
  transition:.4s;
  transition-property: left;
}
