* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 40px;
  
  }
  
  .header-img {
    background-image: url(./img/IMG_0853-mountain2.png);
    height:50vh;
    width: 100%;
    display: block;
    position: relative;
    background-size: cover;
    background-position: top;
    opacity: 0.5;

    padding: 11em;
  }

  .header-text {
    background-color:rgba(189, 167, 153, 0.8);
    color: #FFFFFF;
    margin: auto;
    padding: 0.4em;
    width: 310px;
    height: 100px;
    text-align: center;

    font-weight: 300;
    font-size: 50px;
    line-height: 59px;
    
  }