* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin:40px;
  
  }
  
  .header-img {
    background-image: url(./img/IMG_0853-one.png);
    height:50vh;
    width: 100%;
    display: block;
    position: relative;
    background-size: cover;
    background-position: top;
    opacity: 0.5;

    padding: 11em;
  }

  .header-text {
    background-color:rgba(135, 150, 155, 0.9);
    color: #FFFFFF;
    margin: auto;
    padding: 0.4em;
    width: 310px;
    height: 100px;
    text-align: center;

    font-weight: 300;
    font-size: 50px;
    line-height: 59px;
    
  }
  .photo-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 250px);
    grid-gap: 30px;
    margin: 40px;
    position: relative;
  
    }

  .photo-box > * {
    padding: 2em;
    background-color:rgba(178, 34, 34, 0.178) ;
  }

  .text {
    grid-column: 1 / 5;
  }

  .firstimg {
    background-image:  url(./img/IMG_0942.jpg);
    background-position: bottom;
    background-size: cover;

    color: #FFFFFF;
      

  }

  .secimg {
    grid-row: 2 / 4;
    grid-column: 4;

    background-image:  url(./img/IMG_0729.jpg);
    background-position: center;
    background-size: cover;
     
    color: #FFFFFF;
  }

  .thirdimg {

    background-image:  url(./img/IMG_0876.jpg);
    background-position: center;
    background-size: cover;
    
    color: #FFFFFF;
}
