* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 30px;
}

.header-img {
  background-image: url(./img/IMG_0853.jpg);
  height: 90vh;
  width: 100%;
  display: block;
  opacity: 0.3;
  position: relative;
  background-size: cover;
  background-position: top;
  text-align: center;
  font-size: 50px;
}


/* CSS GRID */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  }
.container > * {
  padding: 1em;
  height: 90px;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  color: #F5F1F1;
  border-radius: 10px;
}

/* buttons */
.photo {
  background-color: rgba(135, 150, 155);
}

.sketch{
  background: rgba(191, 209, 214);
}

.model {
background: rgba(189, 167, 153);
}

.CSS {
background: rgba(65, 60, 54);
}

.buttom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 5px;
}

.buttom > * {
  padding: 0px;
  font-weight: 300;
  font-size: 15px;
  color: rgba(62, 58, 58, 1);
  height:10px;
  text-align: center;

}

.hb {
text-align: left;

}

.molln {
grid-column: 2 / 4;
text-align: center;
}
  
.mtd {
text-align: right;
}